.cart-dropdown {
  position: fixed;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  top:60px;
  right: 15%;
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .empty-message {
    font-size: 18px;
    margin: auto;
  }

  .cart-items {
    height: 270px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  button {
    margin-top: auto;
  }

  @media only screen and (max-width: 1400px) {
    right: 40px;
  }  

  @media only screen and (max-width: 990px) {
    top:105px;
    width: 220px;
    right: 20px;
    padding: 5px;
  }
  @media only screen and (max-width: 425px) {
    right: 10px;
   
  }     

}

.checkout {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;

  button {
    background-color: rgb(255, 175, 4);
    color: white;
    border-radius: 2px;
    border: none;
    padding: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);

  }
  
}
.checkout-title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.625);

  @media only screen and (max-width: 990px) {
    display: none;
}
}