.navbar {
    background: rgb(44, 42, 42);
    display: block;
    position: sticky;
    top:0;
    z-index: 999;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: auto;

    span {
        padding-left: 15px;
        color:white;
        font-size: 14px;
    }
}

#item-1 {
    margin-right: 30px;
    cursor: pointer;
}

.menu-bars {
    margin-left: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1450px;
}


@media only screen and (max-width: 1060px) {
    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 0.8fr;
        grid-template-rows: auto auto;
        grid-gap: 10px;
        padding: 10px;
        margin: 0px;
    }

    #item-5 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #item-4 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #item-3 {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #item-2 

        span{
        display: none;
    }

    #item-1 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
  }