.search-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.items-search {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}