.search-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: stretch;
    flex-wrap: wrap;
    margin:auto;
    margin:10px 10px 20px 90px;
}
.search-container.active {
    margin:10px 10px 20px 260px;
}

.item-title {
    margin-bottom: 10px;
}

.items-search {
    display: flex;
    justify-content: left;
    align-items: stretch;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1060px) { 
    .search-container {
        margin:10px 10px 10px 70px;
    }
    .search-container.active {
        margin:10px 10px 10px 70px;
    }
}

@media only screen and (max-width: 425px) { 
    .search-container {
        margin:10px 10px 10px 60px;
    }
    .search-container.active {
        margin:10px 10px 10px 60px;
    }
}