.cart-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 1fr 0.5fr;
  align-items: center;
  grid-gap: 10px;
  min-height: 80px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.685);
  
  @media only screen and (max-width: 990px) {
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-gap: 0px;
}

  img {
    width: 60px
  }

  .item-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
    font-size: 12px;
    flex-shrink: 0.6 ;
 
  }
}

.account-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.account {
  border: 1px solid rgb(255, 145, 0);
  border-radius: 4px;
  width: 20px;
  text-align: center;
  margin: 3px 5px;
  cursor: pointer;
}
.account-upper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-button {
  cursor: pointer;
  @media only screen and (max-width: 990px) {
    display: none;
  }
 
}

.price {
  font-size: 14px;

  @media only screen and (max-width: 990px) {
    display: none;
  }
}